@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-image: url('../imagenes/cookies.jpg');
  background-size: cover;
  background-position: center;
}
@keyframes color-change {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

h1 {
  font-size: 36px;
  animation: color-change 10s linear infinite;
}
